<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.panda.demogathers">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required -->
    <permission
        android:name="com.panda.demogathers.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.panda.demogathers.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <!-- Video++ -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/demo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.ExpandableListviewActivity" />
        <activity android:name=".activity.PdfviewActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.AudioPlayActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a165dde0f55aaf8a0000b3" />
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="smartisan" /> -->


        <!-- 发布渠道(可以使用纯英文) -->
        <!-- <meta-data android:value="yuansheng" android:name="UMENG_CHANNEL"/> -->
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="update" />-->
         <!--<meta-data android:value="360shoujizhushou" android:name="UMENG_CHANNEL"/>-->
         <meta-data android:value="baidu" android:name="UMENG_CHANNEL"/>
         <!--<meta-data android:value="yingyongbao" android:name="UMENG_CHANNEL"/>-->
         <!--<meta-data android:value="smartisan" android:name="UMENG_CHANNEL"/>-->

        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.RecyclerListViewActivity" />
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.RecyclerGridviewActivity" />
        <activity android:name=".activity.RecyclerStagActivity" />
        <activity android:name=".activity.RecyclerStagverActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SendCodeActivity" />



        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" >

        </service>

        <service
            android:name=".service.RegisterCodeTimerService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>